<html>

<head>
    <title>Edit User</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div>
    <table border="1" cellpadding="5">
        <caption> Editing User:</caption>
        {% if data %}
            <thead>
            <tr>
                {% for key in data[0].keys() %}
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                {% endfor %}
            </tr>
            <tbody>
            {% for item in data %}
                <tr>
                    {% for key in item.keys() %}
                        <td>{{ item[key] }}</td> {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

<div id="edit">
    <form id="editUser" action="/edit_user/{{ data[0].userID }}" method="post">
        <legend><strong>Edit User</strong></legend>
        <fieldset>
            <input type="hidden" value="{{ data[0].userID }}" class="form-control" id="userID" name="userID" required>

            <label for="make">First name:</label>
            <input type="text" value="{{ data[0].firstName }}" class="form-control" id="firstName" name="firstName"
                   pattern="[A-Za-z]{1,}" required>

            <label for="model">Last name:</label>
            <input type="text" value="{{ data[0].lastName }}" class="form-control" id="lastName" name="lastName"
                   pattern="[A-Za-z0-9]{1,}" required>

            <label for="address">Address:</label>
            <input type="text" value="{{ data[0].address }}" class="form-control" id="address" name="address">

            <label for="specialization">Specialization:</label>
            <input type="text" value="{{ data[0].specialization }}" class="form-control" id="specialization"
                   name="specialization">

            <label for="bio">bio:</label>
            <input type="text" value="{{ data[0].bio }}" class="form-control" id="bio" name="bio">

        </fieldset>
        <input type="submit" value="Edit User" name="Edit_User" class="btn btn-primary" style="margin:.5rem;">
        <a href='/users'><input class="btn" type="button" value="cancel"></a>
    </form>
</div>
</body>

</html>