<html lang="en">

{% extends 'base_template.jinja2' %}
{% block content %}

<head>
    <title>Edit Review</title>
</head>

<body>
<div id="browse">
    <h2> Editing Review:</h2>
    <table border="1" cellpadding="5">
        {% if readData %}
            <thead>
            <tr>
                {% for key in readData[0].keys() %}
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in readData %}
                <tr>
                    {% for key in item.keys() %}
                        {% if key == "Reviewer" %}
                            {% if item[key] == None %}
                                <td> Anonymous </td>
                            {% else %}
                                <td> {{ item[key] }} </td>
                            {% endif %}
                        {% else %}
                                <td> {{ item[key] }} </td>
                        {% endif %}

                    {% endfor %}
                    {#                    <td><a href="edit_review/{{ item["Review ID"] }}" class="btn btn-default">Edit</a></td>#}
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
    <p>&nbsp;</p>
</div>    <!-- browse -->

<div id="edit">
    <form id="editReview" action="/edit_review/{{ data[0].reviewID }}" method="post">
        <legend><strong>Update Review</strong></legend>
        <fieldset>

            <input type="hidden" value="{{ data[0].id }}" class="form-control" id="reviewID" name="reviewID" required>

            <input type="hidden" value="{{ data[0]["userID"] }}" class="form-control" id="prevUserID"
                   name="prevUserID" required>

            <input type="hidden" value="{{ data[0]["rockID"] }}" class="form-control" id="prevRockID"
                   name="prevRockID" required>

            <label for="userID">Reviewer: </label>
            <select name="userID" id="userID">
                <option value="">Anonymous</option>
                {% for item in users %}
                    {% if item["userID"] == data[0]["userID"] %}
                        <option value={{ item["userID"] }} selected> {{ item["fullName"] }} </option>
                    {% else %}
                        <option value={{ item["userID"] }}> {{ item["fullName"] }} </option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="rockID">Rock: </label>
            <select name="rockID" id="rockID">
                {% for item in rocks %}
                    {% if item["rockID"] == data[0]["rockID"] %}
                        <option value={{ item["rockID"] }} selected> {{ item["name"] }} </option>
                    {% else %}
                        <option value={{ item["rockID"] }}> {{ item["name"] }} </option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for=" title"> Review Title: </label>
            <input type="text" value="{{ data[0]["title"] }}" class="form-control" id="title" name="title"
                   placeholder="" required>

            <br/><label> Body: </label><br/>
            <textarea id="body" name="body" rows="5" cols="33" required>{{ data[0]["body"] }}</textarea>

            <br/><label> Rating: </label>
            <select name="rating" id="rating" required>
                {% for x in range(6) %}
                    {% if x == data[0]["rating"] %}
                        <option value={{ x }} selected>{{ x }}</option>
                    {% else %}
                        <option value={{ x }}>{{ x }}</option>
                    {% endif %}
                {% endfor %}
            </select>

        </fieldset>

        <input type="submit" value="Edit Review" name="Edit_Review" class="btn btn-primary" style="margin:.5rem;">
        <a href='/reviews'><input class="btn" type="button" value="Cancel"></a>

    </form>
</div><!--edit-->


<br>


</body>

{% endblock %}

</html>
