<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>People</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newUser() {
		showform('insert');
	}
	function updateUser(pid) {
		showform('update');
	}
	function deletePerson(pid) {
		showform('delete');
	}
	function browseUsers() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>
<body>
<h1>People</h1> [ Planets | <a href="people">People</a> | Certifications | People Certified | <a href="/bsg-people">View People</a> | <a href="/main">Main<a/> ]
	<div id="browse">
		<p><a href="#" onClick="newUser()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_people/{{item.id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_people/{{item.id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

<div id="browse" style="display: block">
<p><strong>Browse Users</strong></p>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>address</th>
    <th>specialization</th>
    <th>bio</th>
  </tr>
  <tr>
    <td align="right" >1</td>
    <td>Ricky McFarley</td>
    <td>101 Sedimentary Way, New York City, NY 10001</td>
    <td></td>
    <td></td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="right" >2</td>
    <td>Bobby James</td>
    <td>6000 Metamorphic Drive, Rock City, NM 87311 USA</td>
    <td>Gem Cutter</td>
    <td></td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="right" >3</td>
    <td>Alice Liddel</td>
    <td>1 Igneous Court, Sydney, NSW 2000 Australia</td>
    <td>Amateur Rockhound</td>
    <td></td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="right" >4</td>
    <td>Jimothy Riley</td>
    <td>Riley Castle Way, London, W1D 3AF United Kingdom</td>
    <td>Mineral Photographer</td>
    <td>I've spent the last 23 years photographing priceless rocks all across the UK and US.</td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
</table>
<br>
<p><a href="#">Add new user</a></p>
</div> <!-- browse -->

<p>&nbsp;</p> <!-- non-breaking space -->

<div id="insert" style="display: block">
    <form id="addUser">
        <legend><strong>Add New User</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Address </label> <input type="text" name="address">
            <label> Specialization </label> <input type="text" name="specialization">
            <label> Bio </label> <input type="text" name="bio">
          </fieldset>
          <input class="btn" type="submit" id="addUser" value="Add a User">
          <input class="btn" type="button" value="Cancel">
	</form> <!--add new planet-->
</div><!-- insert -->

<p>&nbsp;</p> <!-- non-breaking space -->

<div id="update" style="display: block">
  <form id="updateUser">
      <legend><strong>Update User</strong></legend>
          <fieldset class="fields">
          <label>ID:</label> 1
            <label> Name </label> <input type="text" name="name" value="Ricky McFarley">
            <label> Address </label> <input type="text"  name="address" value="101 Sedimentary Way, New York City, NY 10001">
            <label> Specialization </label> <input type="text" name="specialization" value="">
            <label> Bio </label> <input type="text" name="bio" value="">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSaveUser" value="Save Update User">
          <input class="btn" type="button" value="Cancel" >
  </form>
</div><!-- update -->


</body>
</html>
