<html>
<head>
	<title>Users</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script type="application/javascript">
    function showform(dowhat) {
        if(dowhat == 'insert') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        } else if(dowhat == 'update') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        } else if(dowhat == 'delete') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        } else if(dowhat == 'all') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
        } else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
    }
    function newUser() {
        showform('insert');
    }
    function updateUser(pid) {
        showform('update');
    }
    function deletePerson(pid) {
        showform('delete');
    }
    function browseUsers() {
        showform('browse');
    }
    function showAll() {
        showform('all');
    }
	</script>
</head>

<body onload="browseUsers()">

	[ <a href="/index">Home</a> | <a href="users">Users</a> | <a href="rocks">Rocks</a> | <a href="reviews">Reviews</a> | <a href="shipments">Shipments</a> | <a href="/edit_shipment">Shipments_has_Rocks</a> ]
	<h1>Users</h1> 

	<div id="insert">
			<form id="insertUser" action="/users" method="post">
				<legend><strong>Add User</strong></legend>
				<fieldset>
					<label for="firstName">First Name:</label>
					<input type="text" class="form-control" id="firstName" name="firstName" pattern="[A-Za-z]{1,}" placeholder="" required>

					<label for="lastName">Last Name:</label>
					<input type="text" class="form-control" id="lastName" name="lastName" pattern="[A-Za-z]{1,}" placeholder="" required>

					<label for="address"> Address </label>
					<input type="text" class="form-control" id="address" name="address" placeholder="" required>

					<label for="specialization"> Specialization </label>
					<input type="text" class="form-control" id="specialization" name="specialization" pattern="[A-Za-z]{1,}" placeholder="">

					<label for="bio"> Bio </label>
					<input type="text" class="form-control" id="bio" name="bio" placeholder="">
				</fieldset>

		<!-- Create 'Add Person' and 'Cancel' buttons -->
				<input type="submit" value="Add User" name="Add_User" class="btn btn-primary" style="margin:.5rem;">
				<input class="btn" type="button" value="Cancel" onClick="browsePeople()"> 
			</form>
	</div><!--insert-->

	<div id="browse">
		 <p><a href="#" onClick="newUser()">Add New</a> </p>
		<table border="1" cellpadding="5">
			{% if data %}
				<thead>
					<tr>
						{% for key in data[0].keys() %}
						<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
						{% endfor %} 
					</tr>

				<tbody>
					{% for item in data %}
						<tr>
							{% for key in item.keys() %}
							<td> {{item[key]}} </td>
							{% endfor %}
							 <td><a href="edit_user/{{ item["User ID"] }}" class="btn btn-default">Edit</a></td>
						</tr> 
						{% endfor %} 
				{% endif %} 
		</table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

{#	<div id="edit">#}
{#        <form id="editUser" action="/edit_user/{{data[0].id}}" method="post">#}
{#            <legend><strong>Update User</strong></legend>#}
{#            <fieldset>#}
{#                <input type="hidden" value="{{data[0].id}}" class="form-control" id="personID" name="personID" required>#}
{##}
{#                <label for="make">User: </label>#}
{#                <select name="name" id="name">#}
{#                    {% for item in users %}#}
{#                        {% for user in item %}#}
{#                            <option> {{item[user]}} </option>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
{#                </select>#}
{##}
{#                <label for="make">First Name:</label>#}
{#                <input type="text" class="form-control" id="fname" name="fname" pattern="[A-Za-z]{1,}" placeholder="" required>#}
{##}
{#                <label for="make">Last Name:</label>#}
{#                <input type="text" class="form-control" id="fname" name="fname" pattern="[A-Za-z]{1,}" placeholder="" required>#}
{##}
{#                <label> Address </label>#}
{#                <input type="text"  name="address", New York City, NY 10001">#}
{##}
{#                <label> Specialization </label>#}
{#                <input type="text" name="specialization" value="">#}
{##}
{#                <label> Bio </label>#}
{#                <input type="text" name="bio" value="">#}
{#            </fieldset>#}
{##}
{#            <input type="submit" value="Edit User" name="Edit_User" class="btn btn-primary" style="margin:.5rem;">#}
{#            <input class="btn" type="button" value="Cancel" onClick="browsePeople()" style="margin:.5rem;">#}
{#		</form>#}
{#	</div>#}
{#	<!--edit-->#}

</body>
</html>
