        rocksQuery = "SELECT Rocks.name AS Rock, FROM Shipments_has_Rocks INNER JOIN Rocks ON Shipments_has_Rocks.rockID = Rocks.rockID INNER JOIN Shipments ON Shipments.shipmentID = Shipments_has_Rocks.shipmentID WHERE Shipments_has_Rocks.shipmentID = %s" % (id)
        cur = mysql.connection.cursor()
        cur.execute(rocksQuery)
        rocks = cur.fetchall()




    
    
    <div id="edit">
	<!-- form to edit data in Shipment-->
	<form id="editShipment" action="/edit_shipment/{{shipment[Shipment Number]}}" method="post">
	<legend><strong>Update Shipment</strong></legend>
		<fieldset>

				<input type="hidden" value="{{shipment[Shipment Number]}}" class="form-control" id="shipmentID" name="shipmentID" required>

				<label>Return to Headquarters</label>
				<input type="checkbox" name="tohq" id="tohq"> 

				<label for="make">Origin</label>
				<input type="text" value="{{shipment[User Name]}}" class="form-control" id="User Name" name="User Name" pattern="[A-Za-z]{1,}" placeholder="" required>
				
				<label for="make">Origin</label>
				<input type="text" value="{{shipment[Origin]}}" class="form-control" id="shipOrigin" name="shipOrigin" pattern="[A-Za-z]{1,}" placeholder="" required>

				<label for="make">Destination</label>
				<input type="text" value="{{shipment[Destination]}}" class="form-control" id="shipDest" name="shipDest" pattern="[A-Za-z]{1,}" required>

				<label>Shipment Date</label> 
				<input type="Date" value="{{shipment[Date Shipped]}}" name="shipDate">

				<label>Notes</label> 
				<textarea value="{{shipment[Notes]}}" id="miscNote" name="miscNote" rows="5" cols="33"></textarea>

		</fieldset>

		<input type="submit" value="Edit Shipment" name="edit_shipment" class="btn btn-primary" style="margin:.5rem;">

		</form>
	</div><!--edit-->














            # account for null smiscNote
            if miscNote == "":
                # first, SQL query to insert new Shipment
                shipQuery = "INSERT INTO Shipments (userID, shipOrigin, shipDest, shipDate) VALUES (SELECT userID FROM Users WHERE CONCAT(firstName, ' ', lastName) = %s, shipOrigin = %s, shipDest = %s, shipDate = %s)"
                cur = mysql.connection.cursor()
                cur.execute(shipQuery, (user, shipOrigin, shipDest, shipDate))
                mysql.connection.commit()
                # next, SQL query to insert new Shipments_has_Rocks
                shipRockQuery = "INSERT INTO Shipments_has_Rocks (shipmentID, rockID) VALUES (SELECT shipmentID FROM Shipments WHERE shipOrigin = %s AND shipDest = %s AND shipDate = %s, SELECT rockID FROM Rocks WHERE name = %s)"
                cur = mysql.connection.cursor()
                cur.execute(shipRockQuery, (shipOrigin, shipDest, shipDate, rock))
                mysql.connection.commit()
            # account for NO null
            else:








	<div id="edit">
	<!-- form to add rocks to Shipment-->
	<form id="editShipmentsHasRocks" action="/create_shipments_has_rocks/{{editShipment[0].shipmentID}}" method="post">
	<legend><strong>Add Rock to Shipment: </strong></legend>
		<fieldset>

			<input type="hidden" value="{{ editShipment[0].shipOrigin }}" class="form-control" id="shipOrigin" name="shipOrigin" required>

			<input type="hidden" value="{{ editShipment[0].shipDest }}" class="form-control" id="shipDest" name="shipDest" required>

			<input type="hidden" value="{{ editShipment[0].shipDate }}" class="form-control" id="shipDate" name="shipDate" required>

			<input type="hidden" value="{{ editShipment[0].miscNote }}" class="form-control" id="miscNote" name="miscNote">

			<tr>
				<select name="rock" id="rock">
					{% for item in addRocks %}
						{% for rock in item %}
							<option> {{item[rock]}} </option>
						{% endfor %}
					{% endfor %} 
				</select>
	
			</tr>

		</fieldset>
		<input type="submit" value="Add" name="Edit_Shipments_has_Rocks" class="btn btn-primary" style="margin:.5rem;">

		</form>
	</div><!--edit-->



# create Shipments_has_Rocks
@app.route("/create_shipments_has_rocks/<int:id>", methods=["POST"])
def create_shipments_has_rocks(id):
    if request.method == "POST":

        # add rock to shipment
        if request.form.get("Edit_Shipments_has_Rocks"):

            # gather variables from Add_Shipments_has_Rocks form
            rock = request.form["rock"]
            shipOrigin = request.form["shipOrigin"]
            shipDest = request.form["shipDest"]
            shipDate = request.form["shipDate"]
            miscNote = request.form["miscNote"]

            # account for null miscNote
            if miscNote == "":

                # create Shipments_has_Rocks row
                addRockQuery = """INSERT INTO Shipments_has_Rocks (shipmentID, rockID)
                                        VALUES ((SELECT shipmentID FROM Shipments 
                                            WHERE shipOrigin = %s 
                                                AND shipDest = %s 
                                                AND shipDate = %s
                                                AND miscNote = NULL), 
                                        (SELECT rockID FROM Rocks WHERE name = %s));"""
                cur = mysql.connection.cursor()
                cur.execute(addRockQuery, (shipOrigin, shipDest, shipDate, rock))
                mysql.connection.commit()
            
            # account for NO null
            else:

                # create Shipments_has_Rocks row
                addRockQuery = """INSERT INTO Shipments_has_Rocks (shipmentID, rockID)
                                        VALUES ((SELECT shipmentID FROM Shipments 
                                            WHERE shipOrigin = %s 
                                                AND shipDest = %s 
                                                AND shipDate = %s
                                                AND miscNote = %s), 
                                        (SELECT rockID FROM Rocks WHERE name = %s));"""
                cur = mysql.connection.cursor()
                cur.execute(addRockQuery, (shipOrigin, shipDest, shipDate, miscNote, rock))
                mysql.connection.commit()

            return redirect("/edit_shipment/" + id)  





