<html>
<!-- NOTES Need to add edit/delete hyperlink functionality. Update the references and update the templates associated with them-->
<head>
	<title>Shipment Details</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	[ <a href="../index">Home</a> | <a href="../users">Users</a> | <a href="../rocks">Rocks</a> | <a href="../reviews">Reviews</a> | <a
        href="../shipments">Shipments</a> ]

	<p>&nbsp;</p>

    <div>
        <table border="1" cellpadding="5">
            <legend><strong>Editing Shipment:</strong></legend>
            {% if readShipment %}
                <thead>
                    <tr>
                        {% for key in readShipment[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                    </tr>
                <tbody>
                    {% for item in readShipment %}
                    <tr>
                        {% for key in item.keys() %}
                        <td>{{item[key]}}</td> {% endfor %}
                    </tr>
                    {% endfor %}
            {% endif %}
        </table>
    </div>

<p>&nbsp;</p>

	<div id="edit">
	<!-- form to edit data in Shipment-->
	<form id="editShipment" action="/edit_shipment/{{editShipment[0].shipmentID}}" method="post">
	<legend><strong>Update Shipment Details:</strong></legend>
		<fieldset>

				<input type="hidden" value="{{ editShipment[0].shipmentID }}" class="form-control" id="shipmentID" name="shipmentID" required>

				<label for="user">User Name: </label>
				<select name="user" id="user">
					<option selected>
						{{shipUser[0].name}}
					</option>
					{% for item in shipUsersOption %}
						{% for shipUsersOption in item %}
							<option> {{item[shipUsersOption]}} </option>
						{% endfor %}
					{% endfor %}
				</select>

				<label for="shipOrigin">Origin: </label>
				<input type="text" value="{{ editShipment[0].shipOrigin }}" class="form-control" id="shipOrigin" name="shipOrigin" size="35" required>

				<label for="shipDest">Destination: </label>
				<input type="text" value="{{ editShipment[0].shipDest }}" class="form-control" id="shipDest" name="shipDest" size="35" required>

				<label for="shipDate">Shipment Date: </label>
				<input type="Date" value="{{ editShipment[0].shipDate }}" class="form-control" id="shipDate" name="shipDate" required>

				<label for="miscNote">Notes: </label>
				<input type="text" value="{{ editShipment[0].miscNote }}" class="form-control" id="miscNote" name="miscNote" size="35"></input>

		</fieldset>

		<input type="submit" value="Update Shipment" name="Edit_Shipment" class="btn btn-primary" style="margin:.5rem;">
		<a href='/shipments'><input class="btn" type="button" value="Cancel"></a>

		</form>
	</div><!--edit-->

<p>&nbsp;</p>

	<div id="browse">
		<legend><strong>Rocks in This Shipment:</strong></legend>
		{# <p><a href="#" onClick="newUser()">Add New</a> </p> #}
		<table border="1" cellpadding="5">
			{% if rocks %}
			<thead>
				<tr>
					{% for key in rocks[0].keys() %}
						{% if not loop.first %}
							<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for item in rocks %}
				<tr>
					{% for key in item.keys() %}
						{% if not loop.first %}
							<td> {{item[key]}} </td>
						{% endif %}
					{% endfor %}
					<td><a href="../delete_shipments_has_rocks/{{item.shipmentHasRockID}}" class="btn btn-default">Remove</a></td>
				</tr>
				{% endfor %}
			</tbody>
			{% endif %}
		</table>
		<p>Note: removing the last Rock will also delete the Shipment!</p>
	<p>&nbsp;</p>
	</div>	<!-- browse rocks in shipment-->


	<div id="edit">
	<!-- form to add rocks to Shipment-->
	<form id="addShipmentsHasRocks" action="/add_shipments_has_rocks/{{editShipment[0].shipmentID}}" method="post">
	<legend><strong>Add Rock to Shipment: </strong></legend>
		<fieldset>

			<tr>
				<select name="rock" id="rock">
					{% for item in addRocks %}
						{% for rock in item %}
							<option> {{item[rock]}} </option>
						{% endfor %}
					{% endfor %}
				</select>

			</tr>

		</fieldset>
		<input type="submit" value="Add" name="Add_Shipments_has_Rocks" class="btn btn-primary" style="margin:.5rem;">

		</form>
	</div><!--edit-->


</body>
</html>
