<html>
<head>
	<title>Rock Search</title>
	<link href="style.css" rel="stylesheet" type="text/css" />

</head>
<body onload="browseRocks()">
	[ <a href="/index">Home</a> | <a href="users">Users</a> | <a href="rocks">Rocks</a> | <a href="reviews">Reviews</a> | <a href="shipments">Shipments</a> ]
	<h1>Rock Search</h1>

	<div id="browse">
        <legend><strong>Your Search Results: </strong></legend>
		<table border="1" cellpadding="5">
			{% if data %}
				<thead>
					<tr>
						{% for key in data[0].keys() %}
						<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
						{% endfor %}
					</tr>
				</thead>

				<tbody>
						{% for item in data %}
						<tr>
							{% for key in item.keys() %}
							<td> {{item[key]}} </td>
							{% endfor %}
						</tr>
						{% endfor %}
				</tbody>
			{% endif %}
		</table>
	<p>&nbsp;</p>
	</div>
	<!-- browse -->

	<br/>

	<div id="search">
		<form id="searchRocks" action="/rocks" method="post">
			<legend><strong>New Rock Search</strong></legend>
			<fieldset>
				<input type="text" class="form-control" id="search" name="search" placeholder="New search criteria" required>
			</fieldset>
			<input type="submit" value="Rock Search" name="Rock_Search" class="btn btn-primary" style="margin:.5rem;">
            <a href='/rocks'><input class="btn" type="button" value="Return to Rocks"></a>
		</form>
	</div>


</body>
</html>
