<html>
<!-- NOTES Need to add edit/delete hyperlink functionality. Update the references and update the templates associated with them-->
<head>
	<title>Shipment Details</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newUser() {
		showform('insert');
	}
	function updateUser(pid) {
		showform('update');
	}
	function deletePerson(pid) {
		showform('delete');
	}
	function browseUsers() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>
<body>

	[ <a href="/index">Home</a> | <a href="users">Users</a> | <a href="rocks">Rocks</a> | <a href="reviews">Reviews</a> | <a href="shipments">Shipments</a> | <a href="/edit_shipment">Shipments_has_Rocks</a> ]
	<h1>Shipment Details</h1> 

		<div id="insert">
			<!-- form to INSERT new data into Shipments-->
		<form id="insertPerson" action="/people" method="post">
			<legend><strong>Add Rock to Shipment</strong></legend>
			<fieldset>
				<label for="make">Rock: </label>
				<select name="name" id="name">
					{% for item in rocks %}
						{% for rock in item %}
							<option> {{item[rock]}} </option>
						{% endfor %}
					{% endfor %} 
				</select>
			</fieldset>
			<input type="submit" value="Add to Shipment" name="Add_Shipment" class="btn btn-primary" style="margin:.5rem;">
		</form>
	</div><!--insert-->

	<div id="browse">
		{# <p><a href="#" onClick="newUser()">Add New</a> </p> #}
		<table border="1" cellpadding="5">
			{% if shipment_details %}
			<thead>
				<tr>
					{% for key in shipment_details[0].keys() %}
					<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					{% endfor %} 
				</tr>
			</thead>
			<tbody>
				{% for item in shipment_details %}
				<tr>
					{% for key in item.keys() %}
					<td> {{item[key]}} </td> 
					{% endfor %}
					<td><a href="delete_people/{{item.id}}" class="btn btn-default">Delete</a></td>
				</tr> 
				{% endfor %} 
			</tbody>
			{% endif %} 
		</table>  
	<p>&nbsp;</p>
	</div>	<!-- browse -->





</body>
</html>
