<!doctype html>

{% extends 'base.html' %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="browse" style="display: block">
<p><strong>Browse Users</strong></p>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>address</th>
    <th>specialization</th>
    <th>bio</th>
  </tr>
  <tr>
    <td align="right" >1</td>
    <td>Ricky McFarley</td>
    <td>101 Sedimentary Way, New York City, NY 10001</td>
    <td></td>
    <td></td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="right" >2</td>
    <td>Bobby James</td>
    <td>6000 Metamorphic Drive, Rock City, NM 87311 USA</td>
    <td>Gem Cutter</td>
    <td></td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="right" >3</td>
    <td>Alice Liddel</td>
    <td>1 Igneous Court, Sydney, NSW 2000 Australia</td>
    <td>Amateur Rockhound</td>
    <td></td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
  <tr>
    <td align="right" >3</td>
    <td>Jimothy Riley</td>
    <td>Riley Castle Way, London, W1D 3AF United Kingdom</td>
    <td>Mineral Photographer</td>
    <td>I've spent the last 23 years photographing priceless rocks all across the UK and US.</td>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
  </tr>
</table>
<br>
<p><a href="#">Add new user</a></p>
</div> <!-- browse -->

<p>&nbsp;</p> <!-- non-breaking space -->

<div id="insert" style="display: block">
    <form id="addUser">
        <legend><strong>Add New User</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Address </label> <input type="text" name="address">
            <label> Specialization </label> <input type="text" name="specialization">
            <label> Bio </label> <input type="text" name="bio">
          </fieldset>
          <input class="btn" type="submit" id="addUser" value="Add a User">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new planet-->
</div><!-- insert -->

<p>&nbsp;</p> <!-- non-breaking space -->

<div id="update" style="display: block">
  <form id="updateUser">
      <legend><strong>Update User</strong></legend>
          <fieldset class="fields">
          <label>ID:</label> 1
            <label> Name </label> <input type="text" value="Gemenon" name="name">
            <label> Population </label> <input type="text"  name="population" value="2800000000">
            <label> Language </label> <input type="text" name="language" value="Old Gemenese">
            <label> Capital </label> <input type="text" name="language" value="Oranu">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSavePlanet" value="Save Update Planet">
          <input class="btn" type="button" value="cancel" >
  </form>
</div><!-- update -->


</body>
</html>

{% endblock %}
