<html>
<head>
	<title>Rocks</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
{#	<script language="JavaScript">#}
{#	function showform(dowhat) {#}
{#		if(dowhat == 'insert') {#}
{#            document.getElementById('search').style.display = 'none';#}
{#			document.getElementById('browse').style.display = 'none';#}
{#			document.getElementById('insert').style.display = 'block';#}
{#			document.getElementById('edit').style.display = 'none';#}
{#			document.getElementById('delete').style.display = 'none';#}
{#		} else if(dowhat == 'update') {#}
{#            document.getElementById('search').style.display = 'none';#}
{#			document.getElementById('browse').style.display = 'none';#}
{#			document.getElementById('insert').style.display = 'none';#}
{#			document.getElementById('edit').style.display = 'block';#}
{#			document.getElementById('delete').style.display = 'none';#}
{#		} else if(dowhat == 'delete') {#}
{#            document.getElementById('search').style.display = 'none';#}
{#			document.getElementById('browse').style.display = 'none';#}
{#			document.getElementById('insert').style.display = 'none';#}
{#			document.getElementById('edit').style.display = 'none';#}
{#			document.getElementById('delete').style.display = 'block';#}
{#		} else if(dowhat == 'all') {#}
{#            document.getElementById('search').style.display = 'block';#}
{#			document.getElementById('browse').style.display = 'block';#}
{#			document.getElementById('insert').style.display = 'block';#}
{#			document.getElementById('edit').style.display = 'block';#}
{#			document.getElementById('delete').style.display = 'block';#}
{#		} else { //by default display browse#}
{#            document.getElementById('search').style.display = 'block';#}
{#			document.getElementById('browse').style.display = 'block';#}
{#			document.getElementById('insert').style.display = 'none';#}
{#			document.getElementById('edit').style.display = 'none';#}
{#			document.getElementById('delete').style.display = 'none';#}
{#		}#}
{#	}#}
{#	function newRock() {#}
{#		showform('insert');#}
{#	}#}
{#	function updateRock(pid) {#}
{#		showform('update');#}
{#	}#}
{#	function deleteRock(pid) {#}
{#		showform('delete');#}
{#	}#}
{#	function browseRocks() {#}
{#		showform('browse');#}
{#	}#}
{#	function showAll() {#}
{#		showform('all');#}
{#	}#}
{#	</script>#}
</head>
{#<body onload="browseRocks()">#}
<body>
	[ <a href="/index">Home</a> | <a href="users">Users</a> | <a href="rocks">Rocks</a> | <a href="reviews">Reviews</a> | <a href="shipments">Shipments</a> ]
	<h1>Rocks</h1> 

	<div id="search">
		<form id="searchRocks" action="/rocks" method="post">
			<legend><strong>Search Rocks</strong></legend>
			<fieldset>
				<label> Search criteria </label> 
				<input type="text" class="form-control" id="search" name="search" placeholder="" required>
			</fieldset>
			<input type="submit" value="Rock Search" name="Rock_Search" class="btn btn-primary" style="margin:.5rem;">
		</form>
	</div>


	<div id="insert">
			<form id="insertRock" action="/rocks" method="post">
				<legend><strong>Add Rock</strong></legend>
				<fieldset>

					<label for="userID">Owner: </label>
					<select name="userID" id="userID">
						{% for item in users %}
								<option value={{ item["userID"] }}> {{item["fullName"]}} </option>
						{% endfor %}
					</select>

					<label for="name"> Rock Name: </label>
					<input type="text" class="form-control" id="name" name="name" placeholder="" required>

					<label> geoOrigin </label> 
					<input type="text" class="form-control" id="geoOrigin" name="geoOrigin" placeholder="" required>

					<label>Type:</label>
					<select class="form-control" id="type" name="type" placeholder="" required>
						<option value="">-- Rock Type --</option>
						<option value="igneous">Igneous</option>
						<option value="metamorphic">Metamorphic</option>
						<option value="sedimentary">Sedimentary</option>
					</select>

					<label> Chemical Composition </label> 
					<input type="text" class="form-control" id="chemicalComp" name="chemicalComp" placeholder="" required>

					<br/><label> Description </label><br/>
					<textarea class="form-control" id="description" name="description" rows="5" cols="33" placeholder="" required></textarea>

				</fieldset>

				<input type="submit" value="Add Rock" name="Add_Rock" class="btn btn-primary" style="margin:.5rem;">
				<input class="btn" type="button" value="Cancel" onClick="browseRocks()">

			</form>
	</div>
	<!--insert-->



	<div id="browse">
{#		 <p><a href="#" onClick="newRock()">Add New</a> </p>#}
		<table border="1" cellpadding="5">
			{% if data %}
				<thead>
					<tr>
						{% for key in data[0].keys() %}
						<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
						{% endfor %} 
					</tr>
				</thead>

				<tbody>
						{% for item in data %}
						<tr>
							{% for key in item.keys() %}
							<td> {{item[key]}} </td> 
							{% endfor %}
						</tr> 
						{% endfor %} 
				</tbody>
			{% endif %} 
		</table>   
	<p>&nbsp;</p>
	</div>	
	<!-- browse -->

	<br/>


</body>
</html>
