<html>
<!-- NOTES Need to add edit/delete hyperlink functionality. Update the references and update the templates associated with them-->
<head>
	<title>Shipments</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newShipment() {
		showform('insert');
	}
	function updateShipment(sid) {
		showform('update');
	}
	function deleteShipment(sid) {
		showform('delete');
	}
	function browseShipments() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>
<body>

	[ <a href="/index">Home</a> | <a href="users">Users</a> | <a href="rocks">Rocks</a> | <a href="reviews">Reviews</a> | <a href="shipments">Shipments</a> ]
	<h1>Shipments</h1> 

	<div id="insert">
		<!-- form to INSERT new data into Shipments-->
		<form id="insertShipment" action="/shipments" method="post">
			<legend><strong>Add Shipment: </strong></legend>
			<fieldset>

				<label for="user">Ship to: </label>
				<select name="user" id="user">
					{% for item in users %}
						{% for user in item %}
							<option> {{item[user]}} </option>
						{% endfor %}
					{% endfor %} 
				</select>

				<label for="rock">Rock: </label>
				<select name="rock" id="rock">
					{% for item in rocks %}
						{% for rock in item %}
							<option> {{item[rock]}} </option>
						{% endfor %}
					{% endfor %} 
				</select>

				<label for="shipOrigin">Origin </label>
				<input type="text" class="form-control" id="shipOrigin" name="shipOrigin" placeholder="" required>

				<label for="shipDest">Destination </label>
				<input type="text" class="form-control" id="shipDest" name="shipDest" placeholder="" required>

				<label for="shipDate">Shipment Date </label> 
				<input type="Date" class="form-control" id="shipDate" name="shipDate" placeholder="" required>

				<label for="miscNote">Notes </label> 
				<input type="text" class="form-control" id="miscNote" name="miscNote" placeholder="Optional">

			</fieldset>

		<input type="submit" value="Add Shipment" name="Add_Shipment" class="btn btn-primary" style="margin:.5rem;">

		</form>
	</div><!--insert-->


	<div id="browse">
		<h2><strong>Viewing all Shipments</strong></h2>
		<p>To add or remove rocks from a shipment, select edit.</p>
		{# <p><a href="#" onClick="newUser()">Add New</a> </p> #}
		<table border="1" cellpadding="5">
			{% if data %}
			<thead>
				<tr>
					{% for key in data[0].keys() %}
					<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					{% endfor %} 
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
				<tr>
					{% for key in item.keys() %}
					<td> {{item[key]}} </td> 
					{% endfor %}
					<td><a href="edit_shipment/{{ item["Shipment Number"] }}" class="btn btn-default">Edit</a></td>
					<td><a href="delete_shipment/{{ item["Shipment Number"] }}" class="btn btn-default">Delete</a></td>
				</tr> 
				{% endfor %} 
			</tbody>
			{% endif %} 
		</table> 
		<p><strong>Headquarters Address:</strong><br/>
		<em>YouBreccia Way 71, Ramersberg 6060 Switzerland</em></p>  
	<p>&nbsp;</p>
	</div>	<!-- browse -->

</body>
</html>
